h1 {
  text-align: center;
}
nav {
  display: flex;
  justify-content: flex-end;
}
nav a {
  margin: 5px;
  text-decoration: none;
}
.form-container,
.error {
  display: flex;
  justify-content: center;
}
.error {
  margin: 10px;
}
.results {
  padding: 10px;
  width: 500px;
  margin: 0 auto;
}
.top-results {
  display: flex;
  justify-content: space-between;
  margin: 0px 40px 0px 40px;
}
.top-results p {
  display: inline-flex;
}
