@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}
nav {
  display: flex;
  flex-direction: row-reverse;
  margin: 5px;
}
nav a {
  margin: 5px;
  text-decoration: none;
}
h1 {
  font-weight: 800;
  font-size: 60px;
  margin-bottom: 0;
}
.header-div {
  text-align: center;
}
.header-div p {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 500;
  text-transform: uppercase;
}
.error,
.loading {
  text-align: center;
  margin-top: 20px;
}
.form-container {
  display: flex;
  justify-content: center;
}
.input-container {
  position: relative;
  width: 250px;
}
.input-container .material-icons {
  position: absolute;
  left: 10px;
  top: 68%;
  transform: translateY(-50%);
  color: #888;
}
.input-container input {
  width: 100%;
  padding: 10px 10px 10px 40px; /* space for icon */
  font-size: 16px;
}
.button-container {
  display: flex;
  justify-content: center;
}
button {
  margin: 40px;
  padding: 10px;
  width: 200px;
}
.results {
  margin: 45px auto;
  width: 600px;
  border: 2px solid black;
}
.top-results {
  display: flex;
  justify-content: space-evenly;
}
.bottom-results {
  display: flex;
  justify-content: space-evenly;
}
